 <body class="indecisiveBody"> 
   <h1 id="indecisiveTitle">we've made it to being indecisive</h1>
<a class="button" href="/">Home</a>
<form class="form" action="/imFeelingIndecisive" method="post">
  <label  for="name" class="form-item">
    Please input your name: <br>
    <input type="text" name="name" placeholder="John Doe" required>
  </label>
<br>
  <label for="fav_bird" class="form-item">
    What is your favourite bird? <br>
    <input type="text" name="fav_bird" placeholder="Kea">
  </label>  
<br>
  <label for="fav_character" class="form-item">
    What is your favourite character?  <br>
    <input type="text" name="fav_character" placeholder="Bart Simpson">
  </label> 
<br>
    <label for="fav_countries" class="form-item">
   What is your favourite country? <br>
    <input type="text" name="fav_countries"placeholder="New Zealand" >
  </label> 
  <br>
  <label for="superpower" class="form-item">
    What is your favourite superpower? <br>
    <input type="text" name="superpower" placeholder="flamethrower-eyes" >
  </label> 
<br>
  <input  id="submit" type="submit" name="" value="Submit">
</form>
 <img  id="bird" src="https://64.media.tumblr.com/5f1a3369644f20d96a942e460d5ab4b9/tumblr_n3l2akkNOo1s9rrcgo1_500.gifv" alt="bird gif">
 </body>