<h1>Find a Friend</h1>
<div id="buttons">
  <a class="button" href="/imfeelingindecisive">I'm Feeling Indecisive</a>
  <a class="button" href="/makeyourchoice">Make Your Choice</a>
  <a class="button" href="/seetheresults">See the Results</a>
</div>

   
