body {
  background-color: #C1F4FA;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  text-align: center;
}

.nav {
  text-align: center;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.welcome {
  text-align: center;
  color: black;
}


#buttons {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.button {
  background-color: rgb(82, 157, 226); /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

h1 {
  color: rgb(189, 51, 69);
  text-align: center;
}