body {
  background-color: #C1F4FA;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("https://images.pexels.com/photos/4581195/pexels-photo-4581195.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
}
.choice {
  background-color: #C1F4FA;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
}


.title {
  text-align: center;
}

.nav {
  text-align: center;
  color: black;
}

.form {
  
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
}

.indecisiveForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

  input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }


.welcome {
  text-align: center;
  color: black;
}


#buttons {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.button {
  background-color: rgb(36, 38, 201); /* Green */
  border: none;
  color: rgb(248, 245, 245);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  border-color: rebeccapurple;
  margin-left: 30px;
}

h1 {
  color: rgb(31, 3, 27);
  text-align: center;
}
.homeButton {
  background-color: rgb(0, 0, 0); /* Green */
  border: none;
  color: rgb(247, 247, 247);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  border-color: rebeccapurple;
}

.choiceLabel {
  background-color:rgb(180, 33, 33)
}

.indecisiveBody {
  background-image: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
color: white;
display: block;
margin-left: auto;
margin-right: auto;
}

.form-item {
  width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#indecisiveTitle {
color:rgb(248, 255, 234);
font-family: 'Potta One', cursive;
font-size: 2.5rem;
}

#submit {
  height: 50px;
  width: 250px;
  background: red;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

#bird {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.resultsBody {
  background-image: url("https://images.pexels.com/photos/1509582/pexels-photo-1509582.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
 color:white;
}
#h1Results {
  color:rgb(248, 255, 234);
font-family: 'Potta One', cursive;
font-size: 3rem;
  
}

#mainTitle {
  color:rgb(248, 255, 234);
  font-family: 'Potta One', cursive;
  font-size: 3rem;
}